body{
    background-color: pink;
    color: white;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;

}
@media screen and (min-width:700px){
    main{
        /* make the elements inside the main sit next to each other */
        display:grid; 
        grid-template-columns: 1fr 3fr;
    }
}

