body{
    background-color: pink;
    color: white;
}
.container{
    background-color: black;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  

}
/* for nav */
 ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-left: 0; 
}
@media screen and (min-width:700px){
    main{
        /* make the elements inside the main sit next to each other */
        display:grid; 
        grid-template-columns: 1fr 3fr;
    }
}

